
//colors
//4F6D7A
//C0D6DF
//DBE9EE
//4A6FA5
//166088

/* HSL */
$color1: hsla(247%, 37%, 45%, 1);
$color2: hsla(180%, 47%, 56%, 1);
$color3: hsla(202%, 77%, 31%, 1);
$color4: hsla(193%, 46%, 23%, 1);
$color5: hsla(0%, 0%, 92%, 1);



/* RGB */
$turquoise: rgba(82, 72, 156, 1);
$blue: rgba(89, 195, 195, 1);
$cyan: rgba(18, 94, 138, 1);
$green: rgba(32, 75, 87, 1);
$yellow: rgba(235, 235, 235, 1);

/* RGB */
$turquoise: rgba(191, 189, 193, 1);
$blue: rgba(109, 106, 117, 1);
$cyan: rgba(18, 94, 138, 1);
$green: rgba(32, 75, 87, 1);
$yellow: rgba(55, 50, 62, 1);

$family-sans-serif: 'Roboto', sans-serif;

$footer-background-color: #141217;

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/icon.sass';
// @import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
// @import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/components/level.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
@import '../node_modules/bulma/sass/layout/footer.sass';
@import './styles/navbar.sass'

/* .navbar
	position: absolute;
	width: 100%;
	background-color: transparent; */

h1.title, span.title
	font-family: 'Assistant', sans-serif;

.drop-shadow
	text-shadow: 8px 5px 4px rgba(0, 0, 0, 0.4);

.drop-shadow-light
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);

.is-huge 
	font-size: 9vw;
	& + .is-huge
		margin-top: -.4em;

.has-text-spaced
    word-spacing: 10px;

.code-snip, pre
	background-color: transparent;

.header-content
	padding-left: 3vw;
	padding-right: 3vw;
	max-height: 400px;
	overflow: hidden;

.hero-right
	filter: blur(1px);

hr.small-divider
	// background-color: $yellow
	width: 300px;
	margin: 10px auto;

.astrodivider
	margin: 35px auto;
	margin-bottom: 67px;
	width: 400px;
	max-width: 100%;
	position: relative;

	span
		width: 50px;
		height: 50px;
		position: absolute;
		bottom: 100%;
		margin-bottom: -25px;
		left: 50%;
		margin-left: -25px;
		border-radius: 100%;
		box-shadow: 0 2px 4px $yellow;
		border: 3px solid $yellow;
		background: #fff;

	i
		position: absolute;
		top: 4px;
		bottom: 4px;
		left: 4px;
		right: 4px;
		border-radius: 100%;
		text-align: center;
		line-height: 40px;
		font-style: normal;
		color: #049372;

#visualization
	margin: auto;
	width: 80vw;
	height: 80vw;

canvas + canvas
	display: none;

p.paragraph
	text-indent: 4em;
	font-size: 1.1em;
	text-align: justify;
	&::first-letter
	    font-size: 1.7em;
	    line-height: 1em;

.icon.is-link
	&:hover, &:focus, &:active
		cursor: pointer;
		color: $yellow;
		transition-duration: 0.2s;
		// transition-property: transform;
		// transform: scale(1.3) translateZ(0);

.navbar-item
	font-weight: bold;

.columns.vertical-align
	align-items: center;

.scroll-content-down
    animation: moveDown 500s linear infinite, fadeIn 4s linear forwards;

@keyframes moveDown
    0%
        transform: translateY(-2%);

    100%
        transform: translateY(-100%);

@keyframes fadeIn
    0%
        opacity: 0%

    100%
        opacity: 100%


